<div class="ui three column centered grid">
  <div class="column">
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <label><h4 class="ui blue header">Username</h4></label>
          <div class="ui large right icon input">
            <input type="text" name="username" placeholder="e.g johndoe101">
            <i class="grey user icon"></i>
          </div>
        </div>
        <div class="field">
          <label><h4 class="ui blue header">Password</h4></label>
          <div class="ui large right icon input">
            <input type="password" name="password" placeholder="e.g *************">
            <i class="grey lock icon"></i>
          </div>
        </div>
        <button class="ui right labeled fluid blue icon button" type="submit">
          <i class="right unlock alternate icon"></i>
          Submit
        </button>
      </div>
      <h5 class="ui grey right aligned header">
        Write history with us! <a>Join Now</a>
      </h5>
    </form>
  </div>
</div>
